
.chatbox-container {
    position: fixed;
    bottom: 50px;
    right: 5px; 
    z-index: 1000; 
    display: inline-block;
  }
  
  .chatbot-img {
    cursor: pointer;
    width: 250px;
    height: 250px;
    position: relative;
  }

  .bottext-container {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottext-container p {
    margin-bottom: 10px;
  }
  
  .chatbot-text {
    width: 300px;
    height: 150px;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .chatbot-close {
    transform: translateY(-20px);
    margin-right: 100px;
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .chatbot-enter{
    margin-top: -50px;
    margin-left: 100px;
    padding: 8px 15px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  